*{
    text-align: center;
}

h1 {
    font-size: 4rem; /* one rem is approximately 16px */
}

.tile {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem;
    margin: 0 2px;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: red;
}

.second-row {
    padding-top: 0.5rem;
    padding-bottom: 1.1rem;
}

#word-bank {
    margin: 1rem 0;
    display: inline-block;
    align-items: center;
    
}






