/* tile_style.css */

.letterTile {
  position: relative;
  font-size: 1.5rem;
  font-weight: 500;
  width: 3rem;
  height: 3rem;
  text-transform: uppercase;
  background-color: rgb(255, 250, 174);
  border: none;
  border-radius: 3px; /* Add border-radius for rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for 3D effect */
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); /* Add glossy effect */
  animation: fall 2s linear infinite; /* Falling animation */
}

.letter-button {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 3px;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(255, 253, 226);
    border: none;
    border-radius: 3px; /* Add border-radius for rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add shadow for 3D effect */
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); /* Add glossy effect */
  }
  
  .letterTile:hover {
    background-color: #2980b9; /* Change background color on hover */
  }

  .letterTile::selection {
    background-color: #b929b6; /* Change background color on hover */
  }